* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 0px;
  margin: 20px 0 40px 0px;
  background-color: rgb(238, 238, 238);
  border: none;
  outline: none;
}
.container {
  padding: 20px;
}

.container h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container p {
  margin-top: 20px;
  margin-bottom: 20px;
}
hr {
  margin-bottom: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
  padding: 15px 0px;
  color: white;
  outline: none;
  border: none;
  opacity: 0.9;
}
.cancelbtn:hover,
.signupbtn:hover{opacity: 1;}
.cancelbtn {
  background-color: rgb(182, 66, 66);
  color: white;
}
.signupbtn {
  background-color: green;
}

input[type="text"]:focus,
input[type="password"]:focus{background-color: rgb(219, 219, 219);}

@media screen and (max-width: 700px) {
  .cancelbtn,
  .signupbtn{width: 100%;}
}

